/// Colour palette


// Basic colours:
$white: #FFF;

$black: #000;

$grey: #D8D8D8;


// Colour scheme: 

// $call_to_action:

// $background:

// $Accent_colour:

// Resource for finding colour schemes: https://coolors.co/


